{% load static %}<!--allows access to static directory-->

<!DOCTYPE html><!--inform browser that the code is html-->
<html><!--contains all the html-->
    <head>
        <title>
            Travel Wishlist
        </title><!--Will be displayed in the browser tab-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css"><!--CDN link for Sakura styling-->
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"><!--link to custom css-->
    </head>

    <h1>Where would you like to go?</h1>

    <body><!--Contains the content of the page. block content & endblock allow the template to be extended?-->
        {% block content %}
        {% endblock %}
    </body>

    <div><!--using a div to create a footer on all pages. -->
        <p>
            A travel wishlist, built with django
        </p>

        <a class="nav-link" href="{% url 'place_list' %}">Your wishlist</a><!--the django '' won't conflict with the regular "" outside html syntax-->
        <a class="nav-link" href="{% url 'places_visited' %}">Places you've visited</a><!--Creating links to other pages with django syntax-->
    </div>

</html>


