{% extends 'travel_wishlist/base.html' %}
{% block content %}
<h2>Places you have visited</h2>

{% if visited %}<!--conditional rendering-->

<ul><!--unordered list, list items have bullet points-->
    {% for place in visited %}
        <li>
            <a href="{% url 'place_details' place.pk %}">{{place.name}}</a><!--turning Place names into links. djago builds url using path(), and the pk of each Place object-->
        </li>
    {% endfor %}
</ul>

{% else %}

<p>You have not visited any places yet</p>

{% endif %}

{% endblock %}